In [13]:
import pandas as pd
import os
import numpy as np

In [3]:
os.chdir('/Users/simonsharp/Desktop/LaborData/opm-federal-employment-data/data/2014-09-to-2016-09/non-dod/status')

In [8]:
df1 = pd.read_csv("Non_DoD_201409.txt", sep = "|", low_memory = False, header = None)

In [28]:
df1.columns=['LastName', 'FirstName', 'Date', 'Agency', 'SubAgency', 'State', 'AgeRange', 'YearsSinceDegree', 'EducationLevel', 'PayPlan', 'Grade', 'LengthOfServiceLevel', 'Occupation', 'OccupationalCategory', 'AdjustedBasicPay', 'Supervisor', 'TypeOfAppointment', 'WorkSchedule', 'NSFTPIndicator']
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325109 entries, 0 to 1325108
Data columns (total 19 columns):
LastName                1325074 non-null object
FirstName               1325104 non-null object
Date                    1325109 non-null int64
Agency                  1325109 non-null object
SubAgency               1325109 non-null object
State                   1325109 non-null object
AgeRange                1325109 non-null object
YearsSinceDegree        1325109 non-null object
EducationLevel          1325109 non-null object
PayPlan                 1323199 non-null object
Grade                   1325109 non-null object
LengthOfServiceLevel    1325109 non-null object
Occupation              1325109 non-null object
OccupationalCategory    1325109 non-null object
AdjustedBasicPay        1325109 non-null object
Supervisor              1325109 non-null object
TypeOfAppointment       1325109 non-null object
WorkSchedule            1325109 non-null object
NSFTPIndicator          1325109 non-null int64
dtypes: int64(2), object(17)
memory usage: 192.1+ MB

In [30]:
df1 = df1.drop_duplicates(['LastName', 'FirstName'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 815431 entries, 0 to 1325108
Data columns (total 19 columns):
LastName                815398 non-null object
FirstName               815427 non-null object
Date                    815431 non-null int64
Agency                  815431 non-null object
SubAgency               815431 non-null object
State                   815431 non-null object
AgeRange                815431 non-null object
YearsSinceDegree        815431 non-null object
EducationLevel          815431 non-null object
PayPlan                 813880 non-null object
Grade                   815431 non-null object
LengthOfServiceLevel    815431 non-null object
Occupation              815431 non-null object
OccupationalCategory    815431 non-null object
AdjustedBasicPay        815431 non-null object
Supervisor              815431 non-null object
TypeOfAppointment       815431 non-null object
WorkSchedule            815431 non-null object
NSFTPIndicator          815431 non-null int64
dtypes: int64(2), object(17)
memory usage: 124.4+ MB

In [29]:
df2 = pd.DataFrame({ 'A' : ['A','B','C','D','E','F','G','H','E','F'],
                     'B' : ['foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'bar'],
                     'C' : pd.Series(1,index=list(range(10)),dtype='float32'),
                     'D' : np.array([3] * 10,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train","test","train","test","train","test","train"]),
                     'F' : pd.Timestamp('20130102') })
df2.head(20)
df3 = df2.drop_duplicates(['A', 'B'])
df3.head(20)

   A    B    C  D      E          F
0  A  foo  1.0  3   test 2013-01-02
1  B  foo  1.0  3  train 2013-01-02
2  C  foo  1.0  3   test 2013-01-02
3  D  foo  1.0  3  train 2013-01-02
4  E  foo  1.0  3   test 2013-01-02
5  F  foo  1.0  3  train 2013-01-02
6  G  foo  1.0  3   test 2013-01-02
7  H  foo  1.0  3  train 2013-01-02
9  F  bar  1.0  3  train 2013-01-02