In [6]:
import pandas as pd
import os
import numpy as np

In [7]:
os.chdir('/Users/simonsharp/Desktop/LaborData/opm-federal-employment-data/data/2014-09-to-2016-09/non-dod/status')

In [42]:
df1 = pd.read_csv("Non_DoD_201409.txt", sep = "|", low_memory = False, header = None)

In [43]:
df1.columns=['LastName', 'FirstName', 'Date', 'Agency', 'SubAgency', 'State', 'AgeRange', 'YearsSinceDegree', 'EducationLevel', 'PayPlan', 'Grade', 'LengthOfServiceLevel', 'Occupation', 'OccupationalCategory', 'AdjustedBasicPay', 'Supervisor', 'TypeOfAppointment', 'WorkSchedule', 'NSFTPIndicator']
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325109 entries, 0 to 1325108
Data columns (total 19 columns):
LastName                1325074 non-null object
FirstName               1325104 non-null object
Date                    1325109 non-null int64
Agency                  1325109 non-null object
SubAgency               1325109 non-null object
State                   1325109 non-null object
AgeRange                1325109 non-null object
YearsSinceDegree        1325109 non-null object
EducationLevel          1325109 non-null object
PayPlan                 1323199 non-null object
Grade                   1325109 non-null object
LengthOfServiceLevel    1325109 non-null object
Occupation              1325109 non-null object
OccupationalCategory    1325109 non-null object
AdjustedBasicPay        1325109 non-null object
Supervisor              1325109 non-null object
TypeOfAppointment       1325109 non-null object
WorkSchedule            1325109 non-null object
NSFTPIndicator          1325109 non-null int64
dtypes: int64(2), object(17)
memory usage: 192.1+ MB

,LastName,FirstName,Date,Agency,SubAgency,State,AgeRange,YearsSinceDegree,EducationLevel,PayPlan,Grade,LengthOfServiceLevel,Occupation,OccupationalCategory,AdjustedBasicPay,Supervisor,TypeOfAppointment,WorkSchedule,NSFTPIndicator
0,UPADHYAYA,SUNIT,201409,TD-DEPARTMENT OF TRANSPORTATION,"TD11-OFFICE OF THE SECRETARY, RESEARCH AND TEC...",25,25-29,0 - 4 years,13,GS,11,1 - 2 years,2210-INFORMATION TECHNOLOGY MANAGEMENT,A,63386.00,8,15,F,1
1,NAME WITHHELD BY OPM,NAME WITHHELD BY OPM,201409,HS-DEPARTMENT OF HOMELAND SECURITY,HSBC-TRANSPORTATION SECURITY ADMINISTRATION,##,30-34,0 - 4 years,13,SV,D,Less than 1 year,1802-COMPLIANCE INSPECTION AND SUPPORT,C,33855.00,8,38,P,2
2,MAJUMDAR,RAJTILAK,201409,AG-DEPARTMENT OF AGRICULTURE,AG03-AGRICULTURAL RESEARCH SERVICE,36,35-39,0 - 4 years,21,GS,11,1 - 2 years,0401-GENERAL NATURAL RESOURCES MANAGEMENT AND ...,P,59915.00,8,42,F,2
3,CIOBAN CHERESTESIU,CARMEN,201409,VA-DEPARTMENT OF VETERANS AFFAIRS,VATA-VETERANS HEALTH ADMINISTRATION,50,40-44,15 - 19 years,06,VN,02,1 - 2 years,0610-NURSE,P,66938.00,8,38,F,1
4,SHAHI,RAJU,201409,VA-DEPARTMENT OF VETERANS AFFAIRS,VATA-VETERANS HEALTH ADMINISTRATION,25,40-44,15 - 19 years,13,GS,06,1 - 2 years,0681-DENTAL ASSISTANT,T,43679.00,8,38,F,1

In [48]:
df1.sort_values("LastName",axis=0)
df1 = df1[(df1.LastName != 'NaN')]
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1325109 entries, 0 to 1325108
Data columns (total 19 columns):
LastName                1325074 non-null object
FirstName               1325104 non-null object
Date                    1325109 non-null int64
Agency                  1325109 non-null object
SubAgency               1325109 non-null object
State                   1325109 non-null object
AgeRange                1325109 non-null object
YearsSinceDegree        1325109 non-null object
EducationLevel          1325109 non-null object
PayPlan                 1323199 non-null object
Grade                   1325109 non-null object
LengthOfServiceLevel    1325109 non-null object
Occupation              1325109 non-null object
OccupationalCategory    1325109 non-null object
AdjustedBasicPay        1325109 non-null object
Supervisor              1325109 non-null object
TypeOfAppointment       1325109 non-null object
WorkSchedule            1325109 non-null object
NSFTPIndicator          1325109 non-null int64
dtypes: int64(2), object(17)
memory usage: 202.2+ MB

In [39]:
x = 0
i = 0

while i < len(df1.index):
    if (df1.FirstName[i] == 'Michael') & (df1.LastName[i] == 'Smith'):
        x=x+1
        i=i+1
    else:
        i=i+1

print x

0

In [20]:
df1 = df1.drop_duplicates(['LastName', 'FirstName', 'EducationLevel', 'AgeRange', 'SubAgency'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1003451 entries, 0 to 1325108
Data columns (total 19 columns):
LastName                1003416 non-null object
FirstName               1003446 non-null object
Date                    1003451 non-null int64
Agency                  1003451 non-null object
SubAgency               1003451 non-null object
State                   1003451 non-null object
AgeRange                1003451 non-null object
YearsSinceDegree        1003451 non-null object
EducationLevel          1003451 non-null object
PayPlan                 1001558 non-null object
Grade                   1003451 non-null object
LengthOfServiceLevel    1003451 non-null object
Occupation              1003451 non-null object
OccupationalCategory    1003451 non-null object
AdjustedBasicPay        1003451 non-null object
Supervisor              1003451 non-null object
TypeOfAppointment       1003451 non-null object
WorkSchedule            1003451 non-null object
NSFTPIndicator          1003451 non-null int64
dtypes: int64(2), object(17)
memory usage: 153.1+ MB

In [29]:
df2 = pd.DataFrame({ 'A' : ['A','B','C','D','E','F','G','H','E','F'],
                     'B' : ['foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'bar'],
                     'C' : pd.Series(1,index=list(range(10)),dtype='float32'),
                     'D' : np.array([3] * 10,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train","test","train","test","train","test","train"]),
                     'F' : pd.Timestamp('20130102') })
df2.head(20)
df3 = df2.drop_duplicates(['A', 'B'])
df3.head(20)

   A    B    C  D      E          F
0  A  foo  1.0  3   test 2013-01-02
1  B  foo  1.0  3  train 2013-01-02
2  C  foo  1.0  3   test 2013-01-02
3  D  foo  1.0  3  train 2013-01-02
4  E  foo  1.0  3   test 2013-01-02
5  F  foo  1.0  3  train 2013-01-02
6  G  foo  1.0  3   test 2013-01-02
7  H  foo  1.0  3  train 2013-01-02
9  F  bar  1.0  3  train 2013-01-02