In [51]:
import pandas as pd
import os
import numpy as np

In [52]:
os.chdir('/Users/simonsharp/Desktop/LaborData/opm-federal-employment-data/data/2014-09-to-2016-09/non-dod/status')

In [53]:
df1 = pd.read_csv("Non_DoD_201409.txt", sep = "|", low_memory = False, header = None)
df2 = pd.read_csv("Non_DoD_201412.txt", sep = "|", low_memory = False, header = None)
df3 = pd.read_csv("Non_DoD_201503.txt", sep = "|", low_memory = False, header = None)
df4 = pd.read_csv("Non_DoD_201506.txt", sep = "|", low_memory = False, header = None)
df5 = pd.read_csv("Non_DoD_201509.txt", sep = "|", low_memory = False, header = None)
df6 = pd.read_csv("Non_DoD_201512.txt", sep = "|", low_memory = False, header = None)
df7 = pd.read_csv("Non_DoD_201603.txt", sep = "|", low_memory = False, header = None)
df8 = pd.read_csv("Non_DoD_201606.txt", sep = "|", low_memory = False, header = None)
df9 = pd.read_csv("Non_DoD_201609.txt", sep = "|", low_memory = False, header = None)

In [54]:
df1.columns=['LastName', 'FirstName', 'Date', 'Agency', 'SubAgency', 'State', 'AgeRange', 'YearsSinceDegree', 'EducationLevel', 'PayPlan', 'Grade', 'LengthOfServiceLevel', 'Occupation', 'OccupationalCategory', 'AdjustedBasicPay', 'Supervisor', 'TypeOfAppointment', 'WorkSchedule', 'NSFTPIndicator']
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325109 entries, 0 to 1325108
Data columns (total 19 columns):
LastName                1325074 non-null object
FirstName               1325104 non-null object
Date                    1325109 non-null int64
Agency                  1325109 non-null object
SubAgency               1325109 non-null object
State                   1325109 non-null object
AgeRange                1325109 non-null object
YearsSinceDegree        1325109 non-null object
EducationLevel          1325109 non-null object
PayPlan                 1323199 non-null object
Grade                   1325109 non-null object
LengthOfServiceLevel    1325109 non-null object
Occupation              1325109 non-null object
OccupationalCategory    1325109 non-null object
AdjustedBasicPay        1325109 non-null object
Supervisor              1325109 non-null object
TypeOfAppointment       1325109 non-null object
WorkSchedule            1325109 non-null object
NSFTPIndicator          1325109 non-null int64
dtypes: int64(2), object(17)
memory usage: 192.1+ MB

In [55]:
df2.columns=['LastName', 'FirstName', 'Date', 'Agency', 'SubAgency', 'State', 'AgeRange', 'YearsSinceDegree', 'EducationLevel', 'PayPlan', 'Grade', 'LengthOfServiceLevel', 'Occupation', 'OccupationalCategory', 'AdjustedBasicPay', 'Supervisor', 'TypeOfAppointment', 'WorkSchedule', 'NSFTPIndicator']
df3.columns=['LastName', 'FirstName', 'Date', 'Agency', 'SubAgency', 'State', 'AgeRange', 'YearsSinceDegree', 'EducationLevel', 'PayPlan', 'Grade', 'LengthOfServiceLevel', 'Occupation', 'OccupationalCategory', 'AdjustedBasicPay', 'Supervisor', 'TypeOfAppointment', 'WorkSchedule', 'NSFTPIndicator']
df4.columns=['LastName', 'FirstName', 'Date', 'Agency', 'SubAgency', 'State', 'AgeRange', 'YearsSinceDegree', 'EducationLevel', 'PayPlan', 'Grade', 'LengthOfServiceLevel', 'Occupation', 'OccupationalCategory', 'AdjustedBasicPay', 'Supervisor', 'TypeOfAppointment', 'WorkSchedule', 'NSFTPIndicator']
df5.columns=['LastName', 'FirstName', 'Date', 'Agency', 'SubAgency', 'State', 'AgeRange', 'YearsSinceDegree', 'EducationLevel', 'PayPlan', 'Grade', 'LengthOfServiceLevel', 'Occupation', 'OccupationalCategory', 'AdjustedBasicPay', 'Supervisor', 'TypeOfAppointment', 'WorkSchedule', 'NSFTPIndicator']
df6.columns=['LastName', 'FirstName', 'Date', 'Agency', 'SubAgency', 'State', 'AgeRange', 'YearsSinceDegree', 'EducationLevel', 'PayPlan', 'Grade', 'LengthOfServiceLevel', 'Occupation', 'OccupationalCategory', 'AdjustedBasicPay', 'Supervisor', 'TypeOfAppointment', 'WorkSchedule', 'NSFTPIndicator']
df7.columns=['LastName', 'FirstName', 'Date', 'Agency', 'SubAgency', 'State', 'AgeRange', 'YearsSinceDegree', 'EducationLevel', 'PayPlan', 'Grade', 'LengthOfServiceLevel', 'Occupation', 'OccupationalCategory', 'AdjustedBasicPay', 'Supervisor', 'TypeOfAppointment', 'WorkSchedule', 'NSFTPIndicator']
df8.columns=['LastName', 'FirstName', 'Date', 'Agency', 'SubAgency', 'State', 'AgeRange', 'YearsSinceDegree', 'EducationLevel', 'PayPlan', 'Grade', 'LengthOfServiceLevel', 'Occupation', 'OccupationalCategory', 'AdjustedBasicPay', 'Supervisor', 'TypeOfAppointment', 'WorkSchedule', 'NSFTPIndicator']
df9.columns=['LastName', 'FirstName', 'Date', 'Agency', 'SubAgency', 'State', 'AgeRange', 'YearsSinceDegree', 'EducationLevel', 'PayPlan', 'Grade', 'LengthOfServiceLevel', 'Occupation', 'OccupationalCategory', 'AdjustedBasicPay', 'Supervisor', 'TypeOfAppointment', 'WorkSchedule', 'NSFTPIndicator']

In [56]:
df1 = df1.sort_values("LastName",axis=0)
df2 = df2.sort_values("LastName",axis=0)
df3 = df3.sort_values("LastName",axis=0)
df4 = df4.sort_values("LastName",axis=0)
df5 = df5.sort_values("LastName",axis=0)
df6 = df6.sort_values("LastName",axis=0)
df7 = df7.sort_values("LastName",axis=0)
df8 = df8.sort_values("LastName",axis=0)
df9 = df9.sort_values("LastName",axis=0)


df1 = df1.dropna(axis=0, how='any')
df2 = df2.dropna(axis=0, how='any')
df3 = df3.dropna(axis=0, how='any')
df4 = df4.dropna(axis=0, how='any')
df5 = df5.dropna(axis=0, how='any')
df6 = df6.dropna(axis=0, how='any')
df7 = df7.dropna(axis=0, how='any')
df8 = df8.dropna(axis=0, how='any')
df9 = df9.dropna(axis=0, how='any')

df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)
df3.reset_index(drop=True, inplace=True)
df4.reset_index(drop=True, inplace=True)
df5.reset_index(drop=True, inplace=True)
df6.reset_index(drop=True, inplace=True)
df7.reset_index(drop=True, inplace=True)
df8.reset_index(drop=True, inplace=True)
df9.reset_index(drop=True, inplace=True)

In [57]:
x = 0
i = 0

while i < len(df3.index):
    if (df3.FirstName[i] == 'NAME WITHHELD BY OPM') & (df3.LastName[i] == 'NAME WITHHELD BY OPM'):
        x=x+1
        i=i+1
    else:
        i=i+1

print x

274565

In [68]:
df1 = df1[(df1.LastName != "NAME WITHHELD BY OPM") & (df1.FirstName != "NAME WITHHELD BY OPM")]
df2 = df2[(df2.LastName != "NAME WITHHELD BY OPM") & (df2.FirstName != "NAME WITHHELD BY OPM")]
df3 = df3[(df3.LastName != "NAME WITHHELD BY OPM") & (df3.FirstName != "NAME WITHHELD BY OPM")]
df4 = df4[(df4.LastName != "NAME WITHHELD BY OPM") & (df4.FirstName != "NAME WITHHELD BY OPM")]
df5 = df5[(df5.LastName != "NAME WITHHELD BY OPM") & (df5.FirstName != "NAME WITHHELD BY OPM")]
df6 = df6[(df6.LastName != "NAME WITHHELD BY OPM") & (df6.FirstName != "NAME WITHHELD BY OPM")]
df7 = df7[(df7.LastName != "NAME WITHHELD BY OPM") & (df7.FirstName != "NAME WITHHELD BY OPM")]
df8 = df8[(df8.LastName != "NAME WITHHELD BY OPM") & (df8.FirstName != "NAME WITHHELD BY OPM")]
df9 = df9[(df9.LastName != "NAME WITHHELD BY OPM") & (df9.FirstName != "NAME WITHHELD BY OPM")]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1087189 entries, 0 to 1356272
Data columns (total 19 columns):
LastName                1087189 non-null object
FirstName               1087189 non-null object
Date                    1087189 non-null int64
Agency                  1087189 non-null object
SubAgency               1087189 non-null object
State                   1087189 non-null object
AgeRange                1087189 non-null object
YearsSinceDegree        1087189 non-null object
EducationLevel          1087189 non-null object
PayPlan                 1087189 non-null object
Grade                   1087189 non-null object
LengthOfServiceLevel    1087189 non-null object
Occupation              1087189 non-null object
OccupationalCategory    1087189 non-null object
AdjustedBasicPay        1087189 non-null object
Supervisor              1087189 non-null object
TypeOfAppointment       1087189 non-null object
WorkSchedule            1087189 non-null object
NSFTPIndicator          1087189 non-null int64
dtypes: int64(2), object(17)
memory usage: 165.9+ MB

In [75]:
df1 = df1.drop_duplicates(['LastName', 'FirstName', 'EducationLevel', 'AgeRange', 'SubAgency'])
df2 = df2.drop_duplicates(['LastName', 'FirstName', 'EducationLevel', 'AgeRange', 'SubAgency'])
df3 = df3.drop_duplicates(['LastName', 'FirstName', 'EducationLevel', 'AgeRange', 'SubAgency'])
df4 = df4.drop_duplicates(['LastName', 'FirstName', 'EducationLevel', 'AgeRange', 'SubAgency'])
df5 = df5.drop_duplicates(['LastName', 'FirstName', 'EducationLevel', 'AgeRange', 'SubAgency'])
df6 = df6.drop_duplicates(['LastName', 'FirstName', 'EducationLevel', 'AgeRange', 'SubAgency'])
df7 = df7.drop_duplicates(['LastName', 'FirstName', 'EducationLevel', 'AgeRange', 'SubAgency'])
df8 = df8.drop_duplicates(['LastName', 'FirstName', 'EducationLevel', 'AgeRange', 'SubAgency'])
df9 = df9.drop_duplicates(['LastName', 'FirstName', 'EducationLevel', 'AgeRange', 'SubAgency'])

df7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 991629 entries, 0 to 1334365
Data columns (total 19 columns):
LastName                991629 non-null object
FirstName               991629 non-null object
Date                    991629 non-null int64
Agency                  991629 non-null object
SubAgency               991629 non-null object
State                   991629 non-null object
AgeRange                991629 non-null object
YearsSinceDegree        991629 non-null object
EducationLevel          991629 non-null object
PayPlan                 991629 non-null object
Grade                   991629 non-null object
LengthOfServiceLevel    991629 non-null object
Occupation              991629 non-null object
OccupationalCategory    991629 non-null object
AdjustedBasicPay        991629 non-null object
Supervisor              991629 non-null object
TypeOfAppointment       991629 non-null object
WorkSchedule            991629 non-null object
NSFTPIndicator          991629 non-null int64
dtypes: int64(2), object(17)
memory usage: 151.3+ MB

In [76]:
#df2 = pd.DataFrame({ 'A' : ['A','B','C','D','E','F','G','H','E','F'],
                     #'B' : ['foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'bar'],
                     #'C' : pd.Series(1,index=list(range(10)),dtype='float32'),
                     #'D' : np.array([3] * 10,dtype='int32'),
                     #'E' : pd.Categorical(["test","train","test","train","test","train","test","train","test","train"]),
                     #'F' : pd.Timestamp('20130102') })
#df2.head(20)
#df3 = df2.drop_duplicates(['A', 'B'])
#df3.head(20)

In [80]:
df1 = df1[['Date','LastName','FirstName','Agency','SubAgency','AdjustedBasicPay']]
df2 = df2[['Date','LastName','FirstName','Agency','SubAgency','AdjustedBasicPay']]
df3 = df3[['Date','LastName','FirstName','Agency','SubAgency','AdjustedBasicPay']]
df4 = df4[['Date','LastName','FirstName','Agency','SubAgency','AdjustedBasicPay']]
df5 = df5[['Date','LastName','FirstName','Agency','SubAgency','AdjustedBasicPay']]
df6 = df6[['Date','LastName','FirstName','Agency','SubAgency','AdjustedBasicPay']]
df7 = df7[['Date','LastName','FirstName','Agency','SubAgency','AdjustedBasicPay']]
df8 = df8[['Date','LastName','FirstName','Agency','SubAgency','AdjustedBasicPay']]
df9 = df9[['Date','LastName','FirstName','Agency','SubAgency','AdjustedBasicPay']]
df1.head(20)

,Date,LastName,FirstName,Agency,SubAgency,AdjustedBasicPay
0,201409,A,MINH,CM-DEPARTMENT OF COMMERCE,CM56-PATENT AND TRADEMARK OFFICE,117565.00
1,201409,A,PHI,CM-DEPARTMENT OF COMMERCE,CM56-PATENT AND TRADEMARK OFFICE,132733.00
2,201409,A VANT,MAY ARDAH,HS-DEPARTMENT OF HOMELAND SECURITY,HSAB-CITIZENSHIP AND IMMIGRATION SERVICES,113346.00
3,201409,A'ANO,TRACIE,HE-DEPARTMENT OF HEALTH AND HUMAN SERVICES,HE37-INDIAN HEALTH SERVICE,61639.00
4,201409,A'MAR,Z,CM-DEPARTMENT OF COMMERCE,CM54-NATIONAL OCEANIC AND ATMOSPHERIC ADMINIST...,73132.00
5,201409,A-BOATENG,MARY,VA-DEPARTMENT OF VETERANS AFFAIRS,VATA-VETERANS HEALTH ADMINISTRATION,87485.00
6,201409,AABREKKE,ANITA,IN-DEPARTMENT OF THE INTERIOR,IN06-INDIAN AFFAIRS,34793.00
7,201409,AABY,DARRELL,DN-DEPARTMENT OF ENERGY,DN00-DEPARTMENT OF ENERGY,105205.67
8,201409,AADIL,KEAJWANA,VA-DEPARTMENT OF VETERANS AFFAIRS,VATA-VETERANS HEALTH ADMINISTRATION,40067.00
9,201409,AADLAND,ANTHONY,IN-DEPARTMENT OF THE INTERIOR,IN06-INDIAN AFFAIRS,31906.00
10,201409,AADLAND,LORNE,AG-DEPARTMENT OF AGRICULTURE,AG16-NATURAL RESOURCES CONSERVATION SERVICE,63780.00
11,201409,AADNESEN,PAUL,HS-DEPARTMENT OF HOMELAND SECURITY,HSCB-FEDERAL EMERGENCY MANAGEMENT AGENCY,99170.00
12,201409,AAEN,TANYA,VA-DEPARTMENT OF VETERANS AFFAIRS,VATA-VETERANS HEALTH ADMINISTRATION,117403.00
13,201409,AAGAARD,BRAD,IN-DEPARTMENT OF THE INTERIOR,IN08-GEOLOGICAL SURVEY,149592.00
14,201409,AAGARD,NATHAN,AG-DEPARTMENT OF AGRICULTURE,AG11-FOREST SERVICE,25181.00
15,201409,AAGARD,BRENT,AG-DEPARTMENT OF AGRICULTURE,AG11-FOREST SERVICE,31628.00
16,201409,AAGESEN,ERIK,VA-DEPARTMENT OF VETERANS AFFAIRS,VATA-VETERANS HEALTH ADMINISTRATION,37605.00
17,201409,AAKHUS,KNUT,DN-DEPARTMENT OF ENERGY,DN00-DEPARTMENT OF ENERGY,79558.00
18,201409,AAKRE,ALLISON,AG-DEPARTMENT OF AGRICULTURE,AG11-FOREST SERVICE,47923.00
19,201409,AAKRE,DAVID,TD-DEPARTMENT OF TRANSPORTATION,TD03-FEDERAL AVIATION ADMINISTRATION,103387.00